.more-info-section {
    background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgb(70 66 66 / 86%)), url(../../assets/Homepage/Fort.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 0;
    overflow: hidden;
}

  
.more-info-section .img-section {
    position: relative;
}


.more-info-section .img-section img {
    width: 70%;
}