.theme-body {
  font-family: Arial, sans-serif;
  background-color: #0b0c10;
  color: white;
  line-height: 1.6;
}


.header-content h1,
.mission-text h1,
.content h2 {
  color: #eaeaea;
  margin-bottom: 20px;
}

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0c10;
    color: white;
}

h1, h2 {
    color: #ffffff;
}*/

.header-section {
  position: relative;
  background-image: url('../../../assets/Intro_Theme/header.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 6rem;
}

.header-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 46, 46, 0.5);
  /* Example background color with opacity */
}

.header-section-content {
  position: relative;
  z-index: 2;
}

.center_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.header-content h1 {
  font-size: 60px;
  color: #fedfdf;
  text-shadow: 4px 3px 3px #a14345;
  font-weight: 600;
  font-family: 'Cinzel', serif;
}


.quote-section {
  background-image: url('../../../assets/Intro_Theme/NEW (1).png');
  background-size: cover;
  background-position: center;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .quote-content {
    padding: 40px;
    text-align: center;

} */
.quote-section p {
  font-size: 1.2em;
  line-height: 1.8em;
}

/* Container */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: fit-content;
}

/* Mission & Vision Section */
.mission-vision-section {
  position: relative;
  background-image: url('../../../assets/Homepage/Logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: auto;
  padding: 30px 20px;
  z-index: 1;
}

.mission-vision-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #83541d 0%, rgba(42, 42, 33, 0.603)25%);
  z-index: -1;
}

.mission-text {
  flex: 1;
  max-width: 840px;
  padding: 20px;
}

.mission-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Cinzel', serif;
  text-shadow: 2px 2px 4px #ffff9e;
  padding-bottom: 30px;
  text-align: center;
}

.mission-text ul {
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 40px;
}

.vision-image {
  flex: 0 1 450px;
  /* Adjust image size */
}

.vision-image img {
  max-width: 100%;
  border-radius: 10px;
}


.section {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  padding: 0 20px;
}

.section .image {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .image img {
  width: 80%;
  height: 80%;
  margin-top: 100px;
}


.section .content h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Cinzel', serif;
  text-shadow: 2px 2px 4px #ffff9e;
  padding-bottom: 30px;
  text-align: justify;
}

.content {
  width: 700px;
}

.line {
  margin-bottom: 5px;
  /* Adjust the value as needed */
}

@media (max-width: 1024px) {
  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .mission-vision-section {
    flex-direction: column;
    align-items: center;
  }

  .vision-image {
    margin-top: 20px;
    flex-basis: 100%;
    /* Take full width on smaller screens */
  }

  .mission-text h1 {
    font-size: 2rem;
  }

  .section {
    grid-template-columns: 1fr;
    /* Make it single-column */
  }

  .section .image {
    display: none;

  }

  .quote-content {
    padding: 10px;
    text-align: center;
  }

  .quote-section p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .mission-text h1 {
    font-size: 1.8rem;
  }

  .quote-content {
    padding: 10px;
    text-align: center;
  }

  .quote-section p {
    font-size: 12px;
  }

  .why-us-section ul li,
  .mission-text ul li {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .content {
    width: auto;
  }

  .line {
    margin-bottom: 10px;
    /* Adjust the value as needed */
  }

  section .image img {
    padding-bottom: 50px;
  }

  .mission-text h1 {
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .quote-content {
    padding: 10px;
    text-align: center;
  }

  .quote-section p {
    font-size: 10px;
  }

  .why-us-section ul li,
  .mission-text ul li {
    font-size: 0.9rem;
  }

  .header-section {
    height: 100vh;
    /* Reduce height on mobile */
  }

  .header-content h1 {
    text-align: center;
    font-size: 40px;
    /* Smaller header text on mobile */
  }

  .mission-vision-section {
    position: relative;
    background-image: url('../../../assets/Homepage/Logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: auto;
    z-index: 1;
  }

  .mission-vision-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #83541d 0%, rgba(42, 42, 33, 0.603)6%);
    z-index: -1;
  }

  .vision-image {
    display: none;
  }

}