header {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
  font-family: "Poppins", sans-serif;
}

/* header .logo {} */

header .logo img {
  height: 70px;
}

nav {
  height: 100%;
  width: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li {
  padding: 0 10px;
  position: relative;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover,
#active {
  border-bottom: 1px solid white;
}

nav ul li:hover #committee,
nav ul li:hover #Our_Organisation,
nav ul li:hover #about,
nav ul li:hover #Register_Now {
  display: block;
}

#committee {
  width: 600px;
  height: 270px;
}

#Our_Organisation {
  width: 400px;
  height: 100px;
}

#about {
  width: 220px;
  height: 150px;
}

#Register_button {
  background-color: rgb(233, 86, 19);
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

#Register_Now {
  position: absolute;
  top: 30px;
  width: 80%;
  padding: 0%;
  height: 30px;
}

nav ul li ul {
  position: absolute;
  /* top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(0, 0, 0);
  display: none;
  border-radius: 10px;
}

nav ul li ul li {
  padding: 5px;
}

nav ul li ul li a {
  font-size: 12px;
}

nav.show {
  top: 100px;
}

@media screen and (max-width: 1380px) {
  nav ul li ul {
    padding: 0;
    /* margin: 0; */
  }

  #Register_button {
    display: none;
  }

  nav ul li {
    padding: 0 5px;
  }
}

#cross {
  color: rgb(255, 255, 255);
  font-size: 55px;
  display: none;
  cursor: pointer;
}

#hamburger {
  display: none;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1320px) {
  .application {
    padding-right: 15px;
    padding-left: 15px;
  }

  nav ul li ul {
    top: -10px;
  }

  #hamburger {
    color: rgb(255, 255, 255);
    font-size: 35px;
    display: block;
    cursor: pointer;
  }

  #cross {
    color: rgb(255, 255, 255);
  }

  nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -999;
    top: -400%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: fit-content;
    /* display: none; */
    background-color: rgb(0, 0, 0);
  }

  nav ul {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 10px;
    row-gap: 30px;
  }

  nav ul li ul li {
    margin-top: 10px;
  }

  nav ul li a {
    font-size: 15px;
  }

  nav ul li ul li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 1320px) {
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* Adjust background color as needed */
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  nav.show {
    transform: translateX(0);
  }

  #hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  #cross {
    display: none;
  }
}
