/* Committee Page Begin */
.committe-container {
    padding: 40px;
    text-align: center;
}


.committe-heading {
    margin-bottom: 40px;
    font-size: 2em;
    color: #fff;
    font-family:cinzel;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    background:cover;
    border-radius: 10px;
    filter: brightness(100%);
}

.grid-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1em;
    color: white;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    text-align: center;
    font-family: Airal,sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FA3C1E, #FF7714); /* Gradient overlay **/
    opacity:0.7;
    z-index: 1;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;

}
/*Responive design*/
    @media (max-width: 768px) {
    .committe-heading{
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    .grid-container1 {
        grid-template-columns: 1fr; /* Stack items in a single column */
        max-width: 100%; /* Allow full width on smaller screens */
        padding: 20px;
    }

    .committe-container {
        padding: 20px; /* Reduce padding on smaller screens */
    }
}

/* Committee Page End */